NODE_ENV=development
PORT=4002
JWT_SECRET=your-jwt-secret-here
JWT_ACCESS_EXPIRATION_MINUTES=30
JWT_REFRESH_EXPIRATION_DAYS=30

DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password
DB_NAME=your_db_name
DB_DIALECT=mysql

FILEPATH=$../../public
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:4002

SYS_EMAIL=your-email@example.com
SYS_EMAIL_PASSWORD=your-email-app-password
WHATSAPP_TOKEN=your-whatsapp-access-token
WHATSAPP_VERSION=v19.0
WHATSAPP_MOBILE_NUMBER_ID=your-whatsapp-mobile-number-id
WHATSAPP_BUSINESS_ACCOUNT_ID=your-whatsapp-business-account-id
